<!-- <header class="flex border-b border-slate-200 bg-slate-100 justify-between items-center px-8 py-4">
    <a class="caveat-regular text-3xl" href="/">PresentsTracker.com</a>

    <nav>
        <a class="px-4 py-2 bg-slate-500 text-slate-50 rounded mr-4" href="/login">Login</a>
        <a class="px-4 py-2 bg-slate-700 text-slate-50 rounded" href="/signup">Signup</a>
    </nav>
</header> -->

<header class="navbar bg-base-100 border-b-2">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a>Item 1</a></li>
          <li>
            <a>Parent</a>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </li>
          <li><a>Item 3</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-3xl caveat-regular" [routerLink]="['/']">PresentsTracker.com</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a>Item 1</a></li>
        <!-- <li>
          <details>
            <summary>Parent</summary>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </details>
        </li> -->
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-link" [routerLink]="['/login']">
        Login
      </a>
      <a class="btn btn-secondary" [routerLink]="['/signup']">Signup</a>
    </div>
</header>
