<footer class="w-full sticky top-[100vh]" aria-labelledby="footer-heading">
    <div class="px-4 py-12 w-100 sm:px-6 lg:px-16">
      <div class="flex flex-col items-baseline space-y-6">
        <div class="mx-auto"> 
            <span class="flex mt-2 text-sm">
                <p class="mr-1">Made with ❤️ by</p><a class="text-sky-600 hover:text-sky-800 hover:underline" target="_blank" href="https://thoughtpalette.com">thoughtpalette.com</a>
            </span>
        </div>
      </div>
    </div>
</footer>