@import 'tailwindcss/base', 'tailwindcss/components', 'tailwindcss/utilities';

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

.chicle-regular {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
}